*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
header{
  width:100%;
  padding:30px 20px;
  display:flex;
  justify-content:flex-end;
  background-color:#FF00FF;
}
header>:first-child{ /*[>]必要*/
  margin-right:auto;
}
.header-box{
  flex-basis:140px;
  height:70px;
  margin:0 10px;
  background-color:#FF99FF;
}
main{
  display:flex;
  justify-content:center;/*flexとmargin:0 auto;は相性悪い*/
}
.main-left{
  width:300px;
  background-color:#AEFFBD;
}
.main-right{
  max-width:700px;/*最大値を指定するプロパティ*/
  padding:20px;
  display:flex;
  flex-grow:1;
  flex-wrap:wrap;
  background-color:green;
}
.box{
  margin:10px;
  flex-basis: 200px;
  height:130px;
  background-color:yellow;
}
footer{
  width:100%;
  padding:20px;
  display:flex;
  flex-wrap:wrap;
  justify-content:center;/*wrap指定し中央寄せで図のようになる*/
  background-color:blue;
}
.footer-box{
  margin:10px;
  height:40px;
  max-width:600px;
  flex-basis:45%;
  background-color:aqua;
}

